[user]
  name = Andrea Fiore
  email = andrea.giulio.fiore@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
[merge]
  tool = colordiff
  summary = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
	autocrlf = input
[push]
  default = matching
